{% extends "base.html" %}
{% block title %}電腦商城{% endblock %}

{% block body %}
<style type="text/css">
a:link {
    font-size: 18px;
    color: #DB8400;
    text-decoration: none;
    font-weight: bolder;
}
a:visited {
    font-size: 18px;
    color: #DB8400;
    text-decoration: none;
    font-weight: bolder;
}
a:hover {
    font-size: 18px;
    color: #DB8400;
    text-decoration: underline;
    font-weight: bolder;
}
</style>

<div align="center" >
  <p class="text7"> 謝謝您！ </p>
  <p class="text7"> 您的訂單編號是： </p>
  <p class="text7"> 您可以繼續購物！ </p>
   <p class="text7">
       <a href="/main/">返回主頁</a>
  </p>
</div>
{% endblock %}
